@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "epochTheme";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #F2F2F0;
  --color-base-200: #E8E8E5;
  --color-base-300: #D1D1CC;
  --color-base-content: #3B3B3B;
  --color-primary: #7D2E2E;
  --color-primary-content: #F8F5F2;
  --color-secondary: #2E5D7D;
  --color-secondary-content: #F8F5F2;
  --color-accent: #C9A227;
  --color-accent-content: #3B3B3B;
  --color-neutral: #525252;
  --color-neutral-content: #F8F5F2;
  --color-info: #2E5D7D; 
  --color-info-content: #F8F5F2;
  --color-success: #4B7F52; 
  --color-success-content: #F8F5F2;
  --color-warning: #C99400; 
  --color-warning-content: #3B3B3B;
  --color-error: #B03030; 
  --color-error-content: #F8F5F2;

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}