@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

[data-theme="light"] {
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #F8F8F8;
  --color-base-200: #EDEDED;
  --color-base-300: #D6D6D6;
  --color-base-content: #303030;
  --color-primary: #7D2E2E;
  --color-primary-content: #FFFFFF;
  --color-secondary: #2E5D7D;
  --color-secondary-content: #FFFFFF;
  --color-accent: #C9A227;
  --color-accent-content: #303030;
  --color-neutral: #505050;
  --color-neutral-content: #FFFFFF;
  --color-info: #2E5D7D;
  --color-info-content: #FFFFFF;
  --color-success: #417A47;
  --color-success-content: #FFFFFF;
  --color-warning: #C99400;
  --color-warning-content: #303030;
  --color-error: #B03030;
  --color-error-content: #FFFFFF;

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

[data-theme="dark"] {
  default: false;
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: #1E1E1E;
  --color-base-200: #2A2A2A;
  --color-base-300: #444444;
  --color-base-content: #E5E5E5;
  --color-primary: #9A3A3A;
  --color-primary-content: #F8F8F8;
  --color-secondary: #3578A0;
  --color-secondary-content: #F8F8F8;
  --color-accent: #E0B52E;
  --color-accent-content: #1E1E1E;
  --color-neutral: #444444;
  --color-neutral-content: #E5E5E5;
  --color-info: #3C80A0;
  --color-info-content: #E5E5E5;
  --color-success: #5C9561;
  --color-success-content: #F8F8F8;
  --color-warning: #E0A500;
  --color-warning-content: #1E1E1E;
  --color-error: #C04040;
  --color-error-content: #F8F8F8;

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}